<template>
    <b-container fluid class="border-bottom mb-3 bg-white">
        <b-navbar toggleable="lg">
            <b-navbar-brand href="#">Logo HR Say</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">{{ $t('homepage')}}</b-nav-item>
                    <b-nav-item href="#">{{ $t('postjob')}}</b-nav-item>
                    <b-nav-item href="#">{{ $t('buyPackage')}}</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">

                    <b-nav-item-dropdown text="company name" right>
                        <b-dropdown-item href="#">EN</b-dropdown-item>
                    </b-nav-item-dropdown>
                    <b-nav-item href="/en">EN</b-nav-item>
                    <b-nav-item href="/th">TH</b-nav-item>

                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </b-container>
</template>
