<template>
    <b-container>
        <b-row>
            <b-col md="12">
                <b-card no-body class="border-0 shadow-sm">
                    <div class="d-flex align-items-start  flex-column " style="position:relative;border-top-right-radius:4px;border-top-left-radius:4px;height:218px;overflow:hidden;width:100%;background: linear-gradient(270deg, #59E0FF 0.02%, #00AFD8 100%);">
                        <b-col md="10" offset-md="2" class="text-white pl-md-0 mb-auto pt-3 text-right pr-4" style="z-index:2">
                            <button class="btn btn-light ">อัพโหลดรูปภาพ</button>
                        </b-col>
                        <b-col md="10" offset-md="2" class="text-white pl-md-0 pb-3" style="z-index:2">
                            <b>compName</b>
                        </b-col>
                        <img src="https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" style="width:100%;position:absolute;z-index:1" />>
                    </div>
                    <b-col md="2" class="mb-3  " style="z-index:2">
                        <div class="border bg-white  mx-auto" style="margin-top:-63px;height:128px;width:128px;">

                        </div>
                    </b-col>
                </b-card>
            </b-col>
        </b-row>
        <b-row class="mt-3">
            <b-col md="8">
                <b-card class="border-0 shadow-sm p-md-2">
                    <b-row>
                        <b-col cols="4">
                            <img src="" class="w-100" height="150">
                        </b-col>
                        <b-col cols="8">
                            <h4><b>{{ $t('hrsayTitle')}}</b></h4>
                            <ul>
                                <li>{{ $t('hrsayDesc1')}}</li>
                                <li>{{ $t('hrsayDesc2')}}</li>
                                <li>{{ $t('hrsayDesc3')}}</li>
                            </ul>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <h4><b>{{ $t('hrsayInstructionTitle')}}</b></h4>
                            {{ $t('hrsayInstructionDesc')}} <a href="">{{ $t('clickToReview')}}</a>
                        </b-col>
                    </b-row>
                    <br>
                    <!-- good life -->
                    <div class="life">
                        <b-row>
                            <b-col>
                                <b>{{ $t('goodLife')}}</b>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b>กรุณาสรุปหนึ่งประโยคที่จะบรรยายถึงชีวิตดีที่บริษัทของคุณ (จำกัด 300 ตัวอักษร)</b>
                                <b-button v-b-toggle.life variant="link" class="p-0">ดูตัวอย่างการเขียนอธิบาย V</b-button>
                                <b-collapse id="life">
                                    I am collapsible content!
                                </b-collapse>
                            </b-col>
                        </b-row>
                        <b-row class="mt-3">
                            <b-col>
                                <b-form-textarea id="goodLifeText" placeholder="Enter something..." rows="3"></b-form-textarea>
                            </b-col>
                        </b-row>
                        <b-row align-h="end" class="mt-2">
                            <b-col md="3" cols="4">
                                <b-button block variant="outline-primary">บันทึก</b-button>
                            </b-col>
                        </b-row>
                        <b-row class="mt-2">
                            <b-col><b>อัปโหลดรูปภาพชีวิตดี</b></b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <div class="life-photo-section lock">
                                    <div class="upgrade-photo-desc">
                                        <b-row class="mt-4">
                                            <b-col cols="11" class="text-right pr-0 pt-2">
                                                <img src="" width="30" height="30">
                                            </b-col>
                                        </b-row>
                                        <b-row class="mt-5 upgrade-photo-text">
                                            <b-col cols="10" offset="1">
                                                เพียงเพิ่มรูปภาพใน ชีวิตดี งานดี เงินดี สังคมดี สามารถทำให้องค์กรของคุณดูโดดเด่นน่าสนใจมากขึ้น <br>
                                                สามารถเลือกลง 4 รูป หรือ 12 รูป ตามการใช้งานของคุณ <br>
                                                สนใจเพิ่มพื้นที่ลงโฆษณาเพิ่มเติมคลิกดูแพ็คเกจ
                                            </b-col>
                                            <b-col cols="10" offset="1">
                                                <b-button variant="primary" class="mt-2">เลือกซื้อแพ็คเกจ</b-button>
                                            </b-col>
                                        </b-row>
                                    </div>
                                    <b-row>
                                        <b-col>
                                            <div class="border border-primary rounded w-100" style="height:360px"></div>
                                        </b-col>
                                    </b-row>
                                    <b-row class="upload-wrpper">
                                        <b-col cols="6" md="3" class="px-2 mt-3">
                                            <div class="border border-primary rounded w-100" style="height:150px"></div>
                                        </b-col>
                                        <b-col cols="6" md="3" class="px-2 mt-3">
                                            <div class="border border-primary rounded w-100" style="height:150px"></div>
                                        </b-col>
                                        <b-col cols="6" md="3" class="px-2 mt-3">
                                            <div class="border border-primary rounded w-100" style="height:150px"></div>
                                        </b-col>
                                        <b-col cols="6" md="3" class="px-2 mt-3">
                                            <div class="border border-primary rounded w-100" style="height:150px"></div>
                                        </b-col>
                                    </b-row>
                                </div>
                            </b-col>
                        </b-row>
                    </div>
                </b-card>
                <br><br><br>
            </b-col>
            <b-col md="4" class="pl-0">
                <b-card class="border-0 shadow-sm">4</b-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default {};
</script>
<style scoped>
.upload-wrpper {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.life-photo-section {
  position: relative;
}
.life-photo-section .upgrade-photo-desc {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 2;
  transition: all 300 ease-in-out;
}
.life-photo-section.lock .upgrade-photo-desc {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
.life-photo-section.lock .upgrade-photo-desc .upgrade-photo-text {
  display: none;
}
.life-photo-section:hover .upgrade-photo-desc {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}
.life-photo-section:hover .upgrade-photo-desc .upgrade-photo-text {
  display: block;
}
</style>
